.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label {
    font-size: 18px;
}

.value {
    font-size: 48px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 5px;
    cursor: pointer;
}